extends layout

block content
  form(class='uk-form-horizontal uk-margin-large', id='new_form', method='POST', action='/new') 
    -if (error_message)
      div(class="uk-alert-danger", uk-alert, id="error_field")
        p(class="uk-text-center")=error_message
    -else
      div(class="uk-alert-danger", uk-alert, id="error_field", style="visibility:hidden")
    // Url
    div(class="uk-margin")
      label(class="uk-form-label" for="form-horizontal-text")="Url"
      div(class="uk-form-controls")
        input(class="uk-input" id="url" type="url" name="url" autofocus placeholder="Url" value="")
    // Depth
    div(class="uk-margin")
      label(class="uk-form-label" for="form-horizontal-text")="Depth"
        span(class="uk-text-muted", title="If you don't set a depth, the default of zero will be used")=" (optional)"
      div(class="uk-form-controls")
        input(class="uk-input", id="depth", type="number", step="1", min="0", max="5", name="depth", placeholder="Depth", value="")
    // SameDomain
    div(class="uk-margin")
      label(class="uk-form-label" for="form-horizontal-text")="Following Behaviour"
      div(class="uk-form-controls")
        select(class="uk-select", name="samedomain", id="samedomain", placeholder="Following Behaviour")
          option(value="followAll")="Follow all hyperlinks"
          option(value="followSame")="Only follow hyperlinks to the same domain"
    // Title
    div(class="uk-margin")
      label(class="uk-form-label" for="form-horizontal-text")="Title"
        span(class="uk-text-muted", title="If you don't enter anything here, the title will be detected automatically")=" (optional)"
      div(class="uk-form-controls")
        input(class="uk-input" id="n_title" type="text" name="title" placeholder="Title" value="")
    div(class="uk-margin")
         button(class="uk-button uk-button-primary button-submit", type="submit")
          | Submit
         button(class="uk-button uk-button-default button-reset", type="reset")
          | Reset